@font-face {
  font-family: "Ubuntu";
  src: url('../fonts/ubuntu-regular.ttf') format('truetype');
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url('../fonts/ubuntu-bold.ttf') format('truetype');
}

.r88-max-width {
  max-width: 720px;
}

.r88-header {
  font-weight: bold;
  text-align: right;
}

.r88-logo {
  display: block;
  max-width: 33%;
}

.r88-body {
  font-family: "Ubuntu", sans-serif;
  color: white;
  background: linear-gradient(#0053FA, #000000);
}

h1, h2, h3, strong {
  font-family: "Ubuntu Bold", sans-serif;
}

a {
  color: #FA3C19;
}
